@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  
  .rotate-video {
    animation: rotate 200s linear infinite; /* Adjust duration for speed */
  }
  